@model BookViewModel

@if (Model.Quantity == 0)
{
    <div class="cart-btn">
        <a class="btn disabled">Add to cart</a>
    </div>
}
else
{
    <div class="cart-btn">
        <a class="btn" asp-controller="Cart" asp-action="AddToCart">Add to cart</a>
    </div>
}
