@{
    ViewData["Title"] = "Shopping Cart";
}

<table border="1">
    <tr>
        <td>Book</td>
        <td>Quantity</td>
        <td>Subtotal</td>
        <td>Remove</td>
    </tr>
    <tr>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>Total:</td>
    </tr>
</table>