@model List<BookViewModel>

@{
    ViewData["Title"] = "All Books";
}

<div class="row text-center">
    <div class="col-md-12">
        <h2>All Books</h2>
    </div>
</div>

<div class="row">
    <partial name="_BookInformation" model="@Model" />
</div>
