@{
    ViewData["Title"] = "Success";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Book is successfully added</h1>
            <a asp-controller="Genre" asp-action="SearchByGenres">Go to Books</a>
        </div>
    </div>
</div>