@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row text-center privacy">
    <div class="col-md-12">
        <h1>Book Store Privacy Policy</h1>
        <hr class="pr-line-one" />
        <hr class="pr-line-two" />
    </div>
</div>

