/* Navbar
-------------------------------------------------- */
.navbar {
    background-color: black;
    height: 72px;
}

.navbar-brand {
    color: #faf88e;
    font-size: 30px;
    padding: 0 25px;
}

.navbar-brand:hover{
    color: #faf88e;
}

a.nav-link {
    color: #faf88e;
    font-size: 19px;
}

a.nav-link:hover {
    color: #cc1555;
}

a .icon-shopping-cart {
    color: #faf88e;
    font-size: 20px;
    margin: 5px 10px;
}

a .icon-shopping-cart:hover {
        color: #cc1555;
}


a .icon {
    color: #faf88e;
    font-size: 25px;
    margin: 5px 10px;
}


/* Footer
-------------------------------------------------- */
.footer {
    background-color: black;
    height: 72px;
    color: #faf88e;
    font-size: 16px;
}

footer a {
    color: #faf88e;
}

footer a:hover {
    color: #cc1555;
    text-decoration: none;
}


/* Index page
-------------------------------------------------- */
.index {
    margin-top: 55px;
}
h1.welcome{
    font-size: 65px;
}
.img-book {
    height: 250px;
    width: auto;
}

a.search {
    color: black;
    font-size: 22px;
}
a.search:hover {
    color: #cc1555;
    text-decoration: none;
}

/*Book*/
.card {
    position: relative;
    border: 1px solid #dcd909;
    margin: 10px;
    height: 490px;
    width: 250px;
    border-radius: 10px;
}

.card img {
     height: 245px;
     width: 185px;
     margin: auto;
     margin-top: 15px;
}

.card .card-title,
.card p{
     margin: 5px;
}

.card p{
    font-size: 17px;
}

.card .btn {
    position: absolute;
    left: 11px;
    bottom: 15px;
    background-color: #faf88e;
    color: black;
    width: 90%;
    font-size: 18px;
}

/*Book information*/

div.item-wrap {
    border: 1px solid #faf88e;
}

/*img.book-img {
    height: 470px;
    margin: 10px 5px;
}

h2.book-title {
    margin-top: 10px;
    font-size: 35px;
}

p.book-author{
    font-style: italic;
    font-size: 16px;
}*/