/* Navbar
-------------------------------------------------- */
.navbar {
    background-color: black;
    height: 72px;
}

.navbar-brand {
    color: #faf88e;
    font-size: 30px;
    padding: 0 25px;
}

.navbar-brand:hover{
    color: #faf88e;
}

a.nav-link,
li button.nav-link {
    color: #faf88e;
    font-size: 19px;
}

a.nav-link:hover,
li button.nav-link:hover {
    color: #cc1555;
}


a .icon-shopping-cart {
    color: #faf88e;
    font-size: 20px;
    margin: 5px 10px;
}

a .icon-shopping-cart:hover {
    color: #cc1555;
    text-decoration: none;
}

a .icon {
    color: #faf88e;
    font-size: 25px;
    margin: 5px 10px;
}


/* Footer
-------------------------------------------------- */
.footer {
    background-color: black;
    height: 72px;
    color: #faf88e;
    font-size: 16px;
}

footer a {
    color: #faf88e;
}

footer a:hover {
    color: #cc1555;
    text-decoration: none;
}


/* Index page
-------------------------------------------------- */
.index {
    margin-top: 55px;
}
h1.welcome{
    color: red;
    font-size: 65px;
}
.img-book {
    height: 260px;
    width: auto;
}

a.search,
a.sell-book {
    color: black;
    font-size: 23px;
}
a.search:hover,
a.sell-book:hover{
    color: #cc1555;
    text-decoration: none;
}

a i {
    color: #cc1555;
    margin: 5px;
}

/*Search by genre
-------------------------------------------------- */

div.genre-heading h1 {
    font-size: 50px;
    margin-top: 45px;
    margin-bottom: 75px;
}

li.genre-item{
    list-style-type: none;
    display: inline-block;
    background-color: #faf88e;
    font-size: 22px;
    padding: 10px;
    margin: 10px;
    width: 250px;

}

a.genre-link {
    color: black;
}



li.genre-item:hover {
    background-color: black;
}

/*li.genre-item:hover a.genre-link{
    color: #faf88e;
}
*/

/*
a.genre-link:hover {
    color: #faf88e;
    text-decoration: none;
}*/


h1 i {
    color: #cc1555;
    margin: 5px;
}


/*Book
-------------------------------------------------- */

.card {
    position: relative;
    border: 1px solid #dcd909;
    margin: 10px;
    height: 490px;
    width: 250px;
    border-radius: 10px;
}

.card img {
     height: 245px;
     width: 185px;
     margin: auto;
     margin-top: 15px;
}

.card .card-title,
.card p{
     margin: 5px;
}

.card p{
    font-size: 17px;
}

.card .btn {
    position: absolute;
    left: 11px;
    bottom: 15px;
    background-color: #faf88e;
    color: black;
    width: 90%;
    font-size: 18px;
}


/*Book information
-------------------------------------------------- */

.item-wrap,
.book-checkout {
    background-color: #fefee7;
    border-radius: 5px;
}

.book-img img {
    height: 470px;
    margin: 15px 5px 15px 15px;
}

.book-title h2 {
    margin-top: 15px;
    font-size: 35px;
}

.book-author p{
    font-style: italic;
    font-size: 16px;
}
.book-description p {
    font-size: 16px;
}
.line{
    color: #faf88e;
    background-color: #faf88e;
}

.book-checkout{
    position: relative;
    height: 260px;
    width: 260px;
}

.book-price p {
    color: #cc1555;
    font-size: 45px;
    margin-left: 15px;
}

.book-qty {
    font-size: 18px;
    margin-left: 15px;
}

.free-delivery-text {
    margin-left: 15px;
    font-size: 18px;
    font-style: italic;
}

div.cart-btn a.btn {
    position: absolute;
    background-color: #dcd909;
    bottom: 20px;
    left: 15px;
    width: 87%;
    color: #fffff8;
    font-size: 18px;
}

div.book-details {
    position: relative;
    background-color: #fefee7;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 155px;
    width: 94%;
    font-size: 17px;
}

div.book-col {
    margin-top: 25px;
    margin-left: 15px;
}

img.img-book-small {
    position: absolute;
    top: 10px;
    right: 30px;
    height: 130px;
}

span.bold-text {
    font-weight: 500;
}

/*Disabled button
-------------------------------------------------- */
div.cart-btn a.disabled{
    background-color: grey;
}

/*Privacy page
-------------------------------------------------- */
div.heading{
    margin-top: 100px;
}

hr.pr-line-one{
    background-color: #cc1555;
    color: #cc1555;
    width: 55%;
    height: 2px;
}

hr.pr-line-two {
    background-color: #cc1555;
    color: #cc1555;
    width: 30%;
    height: 2px;
}


/*Forms
-------------------------------------------------- */

div.form-container {
    background-color: #f6f4a2;
    width: 550px;
    margin: 10px auto 50px auto;
    border-radius: 25px;
}

form.form {
    padding: 20px 30px;
    margin: auto;
}

.form-group {
    width: 450px;
    margin: 20px auto;
}

    .form-group input,
    .form-group input:focus,
    .form-group input:visited {
        height: 55px;
        background-color: black;
        color: white;
        border-radius: 20px;
    }

    .form-group label {
        font-size: 18px;
    }

.btn-submit {
    color: black;
    background-color: #cc1555;
    margin: 10px 120px;
    width: 250px;
    height: 50px;
}

h1.heading-text {
    margin-top: 20px;
}

h4.login-text {
    padding-top: 20px;
}

.form-group p.links a,
.form-group p.links a:hover {
    color: black;
    font-size: 16px;
}